# Copiá este archivo como .env (sin el .example) y cambiá las contraseñas.
# IMPORTANTE: el .env NO se sube a GitHub. Agregalo al .gitignore.

POSTGRES_DB=phishshield
POSTGRES_USER=phishshield
POSTGRES_PASSWORD=cambiar_esta_clave

PGADMIN_EMAIL=admin@phishshield.bo
PGADMIN_PASSWORD=cambiar_esta_clave
